@model Login

@{
    ViewBag.Title = "Login";
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form id="LoginForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="Home" asp-action="Login" method="post">
            
            <input asp-for="Email"  type="text" id="Email" class="fadeIn second" name="Email" placeholder="Email Address">
            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Password"  type="password" id="Password" class="fadeIn third " name="Password" placeholder="password">
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="submit" class="fadeIn fourth" value="Signin">
        </form>

        <!-- Incorrect Username or Passowrd -->
        <div id="formFooter">
            <label class="text-danger" id="errormsg" name="errormsg"></label>
        </div>

      </div>
</div>

<script type="text/javascript">
    function ErrorMessage() {
        document.getElementById('errormsg').innerHTML = 'Username or Password is Incorrect';
    };
</script>
@if (ViewBag.JavaScriptFunction != null)
{
    <script type="text/javascript">
            @Html.Raw(ViewBag.JavaScriptFunction)
    </script>
}