@model Login

@{
    ViewBag.Title = "Login";
}


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Login Form -->
        <form id="LoginForm" data-parsley-validate class="form-horizontal form-label-left" asp-controller="Home" asp-action="Login" method="post">
            <input asp-for="Email" required type="text" id="Email" class="fadeIn second" name="Email" placeholder="Email Address">
            <input asp-for="Password" required type="password" id="Password" class="fadeIn third " name="Password" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Signin">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <label id="errormsg" name="errormsg" ></label>
        </div>

    </div>
</div>